*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Orbitron', sans-serif;
    background: #171614;
    transition: 0.5s;
    height: 100vh;
    overflow: hidden;
}
body.bg-light{
    background: white;
    color: black;
}
body.bg-light .container{
    color: black;
}
.square{
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 0.8rem;
    animation: upDown 5s infinite;
}
.square.first{
    bottom: 3rem;
    left: 10%;
    background: linear-gradient(180deg, rgba(91,192,190,1) 10%, rgba(16,126,125,1) 40%);
}
.square.second{
    top: 3rem;
    right: 10%;
    animation: downUp 5s infinite;
    background: rgb(204,41,54);
    background: linear-gradient(180deg, rgba(204,41,54,1) 16%, rgba(255,136,17,1) 75%);
}

.container{
    font-size: 3rem;
    text-align: center;
    color:white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    box-shadow: 0px 0px 7px 1px rgba(0, 0,0, 0.7);
    width: max(60%);
    padding: 2rem;
    backdrop-filter: blur(8px);
}
.container .visor{
    background: transparent;
    box-shadow: 0px 0px 7px 1px rgba(0, 0,0, 0.7);
    padding: 0 2rem;
}

.container .seconds{
    color: #ff8811;
}
.container button{
    margin-top: 3rem;
    font-size: 2rem;
    background: #ff8811;
    color: white;
    border: none;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    transform: rotate(0deg);
    transition: 1s;
}
.container button:hover{
    filter: brightness(1.2);
}
.container button.rotate-button{
    transform: rotate(360deg);
}

@media(max-width:1440px){
    .container{
        max-width: 100%;
    }
}
@media(max-width:700px){
    .container{
        font-size: 1.2rem;
        width: 100%;
    }
    .square{
        width: 10rem;
        height: 10rem;
    }
}


@keyframes upDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-60%);
    }
}
@keyframes downUp {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(60%);
    }
}